#main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid;
    gap: 10px;
    padding: 10px;
    text-align: center;
}
#pantalla{
    grid-column: span 4;
    border: 1px solid;
    grid-row: span 1;
    text-align: right;
    font-size: 24px;
}
.boton{
    grid-column: span 1;
    border: 1px solid;
    grid-row: span 1;
    background-color: rgb(204, 204, 196);  
}

